body { background: #5ff122; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 27px; display: flex; }
.block-notify-0 { color: #b82abf; font-size: 17px; margin-bottom: 5px; }
.block-logger-1 { color: #41d4c7; font-size: 19px; margin-bottom: 5px; }
.block-helper-2 { color: #42e306; font-size: 19px; margin-bottom: 5px; }
.block-cart-3 { color: #dc2b; font-size: 19px; margin-bottom: 5px; }
.block-product-4 { color: #c2feeb; font-size: 20px; margin-bottom: 5px; }